@property --pattern-seed {
    syntax: "<number>";
    initial-value: 1000;
    inherits: true;
  }
  
  @property --pattern-colors {
    syntax: "<color>#";
    initial-value: #161511, #dd6d45, #f2f2f2;
    inherits: true;
  }
  
  @property --pattern-speck-count {
    syntax: "<number>";
    initial-value: 3000;
    inherits: true;
  }
  
  @property --pattern-speck-min-size {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
  }
  
  @property --pattern-speck-max-size {
    syntax: "<number>";
    initial-value: 9;
    inherits: true;
  }
  
  body {
    margin: 0;
    background-color: #91b4c200;
  }
  
  .worklet-canvas {
    position: absolute;
    width: 25px;
    height: 25px;
    
  }

  .pulseAnimation {
    animation: pulse 2s infinite;
  }


  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

  